<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

<head>
    <meta charset="utf-8">
    <title>ChronoChic Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/adminassets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/sales"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                </li>


            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <!-- <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div> -->
                    <!-- <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist> -->
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li> -->
                    <!-- <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/adminassets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/adminassets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/adminassets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/adminassets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li> -->
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <!-- <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a> -->
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="adminLogin"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Sales Report</h2>
                <button style="width: 20%; height: 45px; margin-left: 480px;  " onclick="excel()"
                    class="btn btn-primary">Download Excel Sheet</button>

                <button style="width: 20%; height: 45px; margin-left: 10px " onclick="pdf()"
                    class="btn btn-primary">Download PDF</button>

            </div>

            <!-- <button></button> -->
            <div class="card">
                <div class="card-body">

                    <!-- <div class="row"> -->
                    <div class="col-lg-9" style="width: 100%;">

                        <header class="border-bottom mb-4 pb-4">
                            <p id="custmerror" class="text-danger"></p>
                            <div class="row">
                                <div class="col-lg-2 " style="display: inline;">
                                    <input type="date" id="date" class="form-control">

                                </div>
                                <div class="col-lg-2 " style="display: inline;">
                                    <input type="date" id="date1" class="form-control">
                                    <div id="validationError" class="text-danger"></div>

                                </div>


                                <button style="width: 11%; height: 45px; margin-left: 5px;" onclick="date()"
                                    class="btn btn-primary">Search</button>


                                <div class="col-lg-2 col-6" style="margin-left: 260px;">
                                    <select class="form-select" id="sort">
                                        <option value="All">All</option>
                                        <option value="Day">Day</option>
                                        <option value="Week">Week</option>
                                        <option value="Month">Month</option>
                                        <option value="Year">Year</option>
                                    </select>
                                </div>
                                <button style="width: 11%; height: 45px; margin-left: 10px" onclick="sort()"
                                    class="btn btn-primary">Submit</button>





                            </div>
                        </header> <!-- card-header end// -->
                        <div class="table-responsive">
                            <table class="table table-hover" id="pdfTable">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Date</th>
                                        <th>Email</th>
                                        <th>Coupon</th>
                                        <th>Discount</th>
                                        <th>Paid</th>

                                        <th class="text-end">Method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (order.length>0) { %>
                                        <% for( let i=0; i < order.length; i++ ) { %>

                                            <tr>
                                                <td><b>
                                                        <%= order[i].orderNumber %>
                                                    </b></td>
                                                <td>
                                                    <%= order[i].orderDate %>
                                                </td>
                                                <td>
                                                    <%= order[i].userEmail %>
                                                </td>

                                                <% if (order[i].coupon) { %>

                                                    <td>
                                                        <%= order[i].coupon %>
                                                    </td>
                                                    <td class="alert-warning">
                                                        <%= order[i].discount %> % discount Applied
                                                    </td>

                                                    <% }else{ %>
                                                        <td>No Coupon Applied</td>
                                                        <td>No discount Applied</td>
                                                        <% } %>
                                                            <td>
                                                                ₹ <%= order[i].totalAmount %>
                                                            </td>
                                                            <% if (order[i].orderType==="Cash On Delivery" ) { %>

                                                                <td class="text-end">
                                                                    <div class="icontext">

                                                                        <span class="text text-muted"
                                                                            style="font-size: small; "> <img
                                                                                class="icon border"
                                                                                src="/adminassets/imgs/icons/cash-on-delivery.png"
                                                                                style="height: 16px; width: 15px;  align-items: center  ;"
                                                                                alt="Payment">Cash on Delivery</span>

                                                                    </div>
                                                                </td>

                                                                <% }else if(order[i].orderType=="Razorpay" ) {%>
                                                                    <td class="text-end">
                                                                        <div class="icontext">
                                                                            <!-- <img class="icon border"
                                                                                src="/admin_assets/imgs/card-brands/5.png"
                                                                                alt="Payment"> -->
                                                                            <span class="text text-muted"
                                                                                style="font-size: small; margin-left: 43px; ">
                                                                                <i
                                                                                    class="material-icons md-payment font-xxl text-muted mr-5"></i>Razorpay</span>
                                                                        </div>
                                                                    </td>
                                                                    <% } %>
                                            </tr>
                                            <% } %>
                                                <% } %>



                                </tbody>
                            </table>
                        </div> <!-- table-responsive.// -->
                    </div> <!-- col end// -->
                    <!-- <aside class="col-lg-3">
                            <div class="box bg-light" style="min-height:80%">
                                <p class="text-center text-muted my-5">Please select transaction <br> to see details</p>
                            </div>
                        </aside> col end// -->
                    <!-- </div> row end// -->
                </div> <!-- card-body // -->
            </div> <!-- card end// -->
            <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false"
                        src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/adminassets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminassets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminassets/js/vendors/select2.min.js"></script>
    <script src="/adminassets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminassets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminassets/js/main.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <script>
    

        function date() {
            const customdateValue = document.getElementById("date").value;
            const customdateValue1 = document.getElementById("date1").value;
            alert(customdateValue)
            alert(customdateValue1)
            if (!customdateValue || !customdateValue1) {
                document.getElementById("validationError").textContent = "Please select both dates";
                setTimeout(() => {
                    document.getElementById("validationError").textContent = "";
                }, 2000);
            } else {
                const customdate = new Date(customdateValue);
                const customdate1 = new Date(customdateValue1);
                const today = new Date();

                if (customdate > customdate1) {
                    document.getElementById("validationError").textContent = "Start date cannot be after end date";
                    setTimeout(() => {
                        document.getElementById("validationError").textContent = "";
                    }, 2000);
                } else if (customdate >= today && customdate1 >= today) {
                    document.getElementById("validationError").textContent = "You can only view today's or previous day's orders";
                    setTimeout(() => {
                        document.getElementById("validationError").textContent = "";
                    }, 2000);
                } else {
                    window.location.href = `/admin/salesDate?value=${customdateValue}&&value1=${customdateValue1}`;
                }
            }
        }



        function sort() {
            const date = document.getElementById("sort").value
            if (date == "All") {
                window.location.href = "/admin/sales"
            } else {
                window.location.href = `/admin/date?value=${date}`
            }
        }


        function pdf() {
            const table = document.getElementById("pdfTable")
            // console.log(table)
            html2pdf().from(table).save();
        }







        function excel() {

            var table = document.getElementById('pdfTable');
            var tableData = [];
            var rows = table.rows;
            for (var i = 0; i < rows.length; i++) {
                var rowData = [];
                var cells = rows[i].cells;
                for (var j = 0; j < cells.length; j++) {
                    rowData.push(cells[j].innerText);
                }
                tableData.push(rowData);
            }
            var worksheet = XLSX.utils.aoa_to_sheet(tableData);
            var workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet1');
            var excelBuffer = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });

            saveAsExcelFile(excelBuffer, 'table_data.xlsx');
        }

        function saveAsExcelFile(buffer, fileName) {
            var data = new Blob([buffer], { type: 'application/octet-stream' });
            var url = window.URL.createObjectURL(data);
            var link = document.createElement('a');
            link.href = url;
            link.download = fileName;
            link.click();
            setTimeout(function () {
                window.URL.revokeObjectURL(url);
            }, 100);
        }



    </script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->

</html>