<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/ruiz/ruiz/error404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jan 2024 11:50:58 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ChronoChic</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/fancy-box.css">
    <link rel="stylesheet" href="assets/css/plugins/jqueryui.min.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">

    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

    <style>
        .steps .step {
            display: block;
            width: 100%;
            margin-bottom: 35px;
            text-align: center
        }

        .steps .step .step-icon-wrap {
            display: block;
            position: relative;
            width: 100%;
            height: 80px;
            text-align: center
        }

        .steps .step .step-icon-wrap::before,
        .steps .step .step-icon-wrap::after {
            display: block;
            position: absolute;
            top: 50%;
            width: 50%;
            height: 3px;
            margin-top: -1px;
            background-color: #e1e7ec;
            content: '';
            z-index: 1
        }

        .steps .step .step-icon-wrap::before {
            left: 0
        }

        .steps .step .step-icon-wrap::after {
            right: 0
        }

        .steps .step .step-icon {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            border: 1px solid #e1e7ec;
            border-radius: 50%;
            background-color: #f5f5f5;
            color: #374250;
            font-size: 38px;
            line-height: 81px;
            z-index: 5
        }

        .steps .step .step-title {
            margin-top: 16px;
            margin-bottom: 0;
            color: #606975;
            font-size: 14px;
            font-weight: 500
        }

        .steps .step:first-child .step-icon-wrap::before {
            display: none
        }

        .steps .step:last-child .step-icon-wrap::after {
            display: none
        }

        .steps .step.completed .step-icon-wrap::before,
        .steps .step.completed .step-icon-wrap::after {
            background-color: #333
        }

        .steps .step.completed .step-icon {
            border-color: #333;
            background-color: #333;
            color: #fff
        }
        .steps .step.completed .step-icon:hover {
            
            color: #c89979  
        }
        

        @media (max-width: 576px) {

            .flex-sm-nowrap .step .step-icon-wrap::before,
            .flex-sm-nowrap .step .step-icon-wrap::after {
                display: none
            }
        }

        @media (max-width: 768px) {

            .flex-md-nowrap .step .step-icon-wrap::before,
            .flex-md-nowrap .step .step-icon-wrap::after {
                display: none
            }
        }

        @media (max-width: 991px) {

            .flex-lg-nowrap .step .step-icon-wrap::before,
            .flex-lg-nowrap .step .step-icon-wrap::after {
                display: none
            }
        }

        @media (max-width: 1200px) {

            .flex-xl-nowrap .step .step-icon-wrap::before,
            .flex-xl-nowrap .step .step-icon-wrap::after {
                display: none
            }
        }

        .bg-faded,
        .bg-secondary {
            background-color: #f5f5f5 !important;
        }
    </style>
    <style>
        .search-result {
            display: none;
            position: absolute;
            height: auto;

        }

        .no-product-found {
            background-color: rgb(273, 273, 273);
            position: absolute;
            display: none;
            width: 414px;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* margin-top: 10px; */
            padding: 5px 0;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            margin-left: 62.5px;

            z-index: 1;
        }

        #searchResultsContainer {
            background-color: rgb(273, 273, 273);
            position: absolute;
            z-index: 10;
            width: 414px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            margin-left: 62.5px;

        }

        .product-container {
            width: 200px;
            margin: 10px;
            text-align: left;

        }

        .product-container img {
            margin-left: 30px;
            margin-right: 370px;
            max-width: 55px;
            height: auto;
            transform: rotate(0deg);
            transition: transform 0.5s ease;

        }

        .product-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -50px;
        }

        .product-info p {
            margin: -2px 37px;
            margin-left: 40px;
            font-size: 10px;
            /* margin-top: 5px; */
            color: black;
            font-weight: bold;
        }


        .rotate-90 {
            transform: rotate(90deg);
        }

        .rotate-180 {
            transform: rotate(180deg);
        }

        .rotate-270 {
            transform: rotate(270deg);
        }

        .gradient-custom {
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        }

        .card-custom {
            border-bottom-left-radius: 10% 50%;
            border-top-left-radius: 10% 50%;
            background-color: #f8f9fa;
        }


        .input-custom {
            background-color: white;
        }

        .white-text {
            color: hsl(52, 0%, 98%);
            font-weight: 100;
            font-size: 14px;
        }

        .back-button {
            background-color: hsl(52, 0%, 98%);
            font-weight: 700;
            color: black;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <div class="main-wrapper">

        <!--  Header Start -->
        <header class="header">

            <!-- Header Top Start -->
            <div class="header-top-area d-none d-lg-block text-color-white bg-gren border-bm-1">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="header-top-settings">
                                <ul class="nav align-items-center">
                                    <li class="language">English

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="top-info-wrap text-end">
                                <ul class="my-account-container">
                                    <li><a href="userProfile">My account</a></li>
                                    <li><a href="cart">Cart</a></li>
                                    <li><a href="wishlist">Wishlist</a></li>
                                    <li><a href="orders">Order</a></li>
                                    <li><a href="landingpage">Logout</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Header Top End -->

            <!-- haeader Mid Start -->
            <div class="haeader-mid-area bg-gren border-bm-1 d-none d-lg-block ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4 col-5">
                            <div class="logo-area">
                                <a href="home"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="search-box-wrapper">
                                <div class="search-box-inner-wrap">
                                    <div class="search-box-inner">

                                        <!-- <div class="search-select-box">
                                            <div class="nice-select">
                                                <optgroup label=" Watch">
                                                    <option value="CC">Cc</option>
                                                   
                                                </optgroup>
                                                
                                                </div>
                                        </div> -->
                                        <div class="search-field-wrap">
                                            <input type="text" id="input" class="search-field"
                                                placeholder="Search product..." onkeyup="SearchProduct()">


                                            <div class="search-result">
                                                <div id="searchResultsContainer"></div>

                                            </div>


                                            <h5 class="no-product-found">No products found</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="right-blok-box text-white d-flex">

                                <div class="user-wrap">
                                    <a href="wishlist
                                    "><span class="cart-total"></span> <i class="icon-heart"></i></a>
                                </div>

                                <div class="shopping-cart-wrap">
                                    <a href="cart"><i class="icon-basket-loaded"></i><span
                                            class="cart-total"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- haeader Mid End -->

            <!-- haeader bottom Start -->
            <div class="haeader-bottom-area bg-gren header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 d-none d-lg-block">
                            <div class="main-menu-area white_text">
                                <!--  Start Mainmenu Nav-->
                                <nav class="main-navigation text-center">
                                    <ul>
                                        <li class="active"><a href="home">Home </a>

                                        </li>

                                        <li><a href="shop">Shop </a>

                                        </li>
                                        <li><a href="rolex">Rolex </a>
                                          
                                        </li>
                                        <li><a href="">About Us</a></li>
                                        <li><a href="">Contact</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>

                        <div class="col-5 col-md-6 d-block d-lg-none">
                            <div class="logo"><a href="home"><img src="assets/images/logo/logo.png" alt=""></a></div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-7 d-block d-lg-none">
                            <div class="right-blok-box text-white d-flex">

                                <div class="user-wrap">
                                    <a href="wishlist.html"><span class="cart-total">2</span> <i
                                            class="icon-heart"></i></a>
                                </div>

                                <div class="shopping-cart-wrap">
                                    <a href="#"><i class="icon-basket-loaded"></i><span class="cart-total">2</span></a>
                                    <ul class="mini-cart">
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="product-details.html"><img alt=""
                                                        src="assets/images/product/product-02.png"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="product-details.html">
                                                    <h4>Product Name 01</h4>
                                                </a>
                                                <div class="quanti-price-wrap">
                                                    <span class="quantity">1 ×</span>
                                                    <div class="price-box"><span class="new-price">$130.00</span></div>
                                                </div>
                                                <a class="remove_from_cart" href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="product-details.html"><img alt=""
                                                        src="assets/images/product/product-03.png"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="product-details.html">
                                                    <h4>Product Name 03</h4>
                                                </a>
                                                <div class="quanti-price-wrap">
                                                    <span class="quantity">1 ×</span>
                                                    <div class="price-box"><span class="new-price">$130.00</span></div>
                                                </div>
                                                <a class="remove_from_cart" href="#"><i
                                                        class="icon-trash icons"></i></a>
                                            </div>
                                        </li>
                                        <li class="subtotal-box">
                                            <div class="subtotal-title">
                                                <h3>Sub-Total :</h3><span>$ 260.99</span>
                                            </div>
                                        </li>
                                        <li class="mini-cart-btns">
                                            <div class="cart-btns">
                                                <a href="cart">View cart</a>
                                                <a href="checkout.html">Checkout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mobile-menu-btn d-block d-lg-none">
                                    <div class="off-canvas-btn">
                                        <a href="#"><img src="assets/images/icon/bg-menu.png" alt=""></a>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <!-- haeader bottom End -->

            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>

                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            <form>
                                <input type="text" placeholder="Search product...">
                                <button class="search-btn"><i class="icon-magnifier"></i></button>
                            </form>
                        </div>

                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="#">Home</a>
                                        <ul class="dropdown">
                                            <li><a href="home">Home Page 1</a></li>
                                            <li><a href="index-2.html">Home Page 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Shop</a>
                                        <ul class="megamenu dropdown">
                                            <li class="mega-title has-children"><a href="#">Shop Layouts</a>
                                                <ul class="dropdown">
                                                    <li><a href="shop.html">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-list-left.html">Shop List Left Sidebar</a></li>
                                                    <li><a href="shop-list-right.html">Shop List Right Sidebar</a></li>
                                                    <li><a href="shop-fullwidth.html">Shop Full Width</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">Product Details</a>
                                                <ul class="dropdown">
                                                    <li><a href="product-details.html">Single Product Details</a></li>
                                                    <li><a href="variable-product-details.html">Variable Product
                                                            Details</a></li>
                                                    <li><a href="affiliate-product-details.html">affiliatel Product
                                                            Details</a></li>
                                                    <li><a href="gallery-product-details.html">Gallery Product
                                                            Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">Shop Pages</a>
                                                <ul class="dropdown">
                                                    <li><a href="error404.html">Error 404</a></li>
                                                    <li><a href="compare.html">Compare Page</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout Page</a></li>
                                                    <li><a href="wishlist.html">Wish List Page</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="blog.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-grid.html">Blog Grid Page</a></li>
                                            <li><a href="blog-largeimage.html">Blog Large Image</a></li>
                                            <li><a href="blog-details.html">Blog Details Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="frequently-questions.html">FAQ</a></li>
                                            <li><a href="my-account.html">My Account</a></li>
                                            <li><a href="login-register.html">login &amp; register</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->


                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <h5>My Account</h5>
                            <ul class="nav align-items-center">
                                <li class="language">English <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                    </ul>
                                </li>
                                <li class="curreny-wrap">Currency <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list curreny-list">
                                        <li><a href="#">$ USD</a></li>
                                        <li><a href="#"> € EURO</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <h5>My Account</h5>
                                <ul class="offcanvas-account-container">
                                    <li><a href="userProfile">My account</a></li>
                                    <li><a href="cart">Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->

        </header>
        <!--  Header Start -->

        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="home">Home</a></li>
                            <li class="breadcrumb-item active">Order View Details</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->

        <!-- main-content-wrap start -->

        <div class="container-fluid">

            <div class="container" id="invoice">
                <!-- Title -->
                <div class="d-flex justify-content-between align-items-center py-3">
                    <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #<%= findOrder.orderNumber %>
                    </h2>
                    <% if(findOrder.status === 'Delivered' ) { %>
                        <a href="/pdf?id=<%=findOrder._id%>" class="h6 mb-0 btn btn-rounded" download="Invoice.pdf">Download Invoice</a>
                    <% } else { %>
                        <a href="/pdf?id=<%=findOrder._id%>" class="h6 mb-0 btn btn-rounded" download="Invoice.pdf" hidden>Download Invoice</a>
                    <% } %>
                </div>




                <div class="container">
                    <!-- Order status tracking section -->
                    <div class="padding-bottom-3x mb-1">
                        <!-- Tracking order details card -->
                        <div class="card mb-3">
                            <!-- Tracking order details header -->
                            <div class="p-4 text-center text-white text-lg bg-dark rounded-top">
                                <span class="text-uppercase">Tracking Order No - </span><span class="text-medium">
                                    <%= findOrder.orderNumber %>
                                </span>
                            </div>

                            <!-- Tracking order details body -->
                            <div class="card-body">
                                <!-- Status and shipping details -->
                                <div
                                    class="d-flex flex-wrap flex-sm-nowrap justify-content-between mb-5 py-3 px-2 bg-secondary">
                                    <div hidden class="w-100 text-center py-1 px-2"><span class="text-medium">Shipped
                                            Via:</span> UPS Ground</div>
                                    <div class="w-100 text-center py-1 px-2"><span class="text-medium">Status:</span>
                                    </div>
                                    <div class="w-100 text-center py-1 px-2"><span class="text-medium">Expected
                                            Date:</span>
                                        <%= expectedDeliveryDate %>
                                    </div>
                                </div>

                                <!-- Steps -->
                                <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x "> </div>
                                <input type="hidden" value="<%=findOrder.status%>" id="orderstatus">

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Main content -->
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Details -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-3 d-flex justify-content-between">
                                    <!-- Order details -->
                                    <div>
                                        <span class="me-3">
                                            <%= findOrder.orderDate %>
                                        </span>
                                        <span class="me-3">#<%= findOrder.orderNumber %></span>
                                        <% if (findOrder.orderType==="Razorpay" ) { %>
                                            <span class="me-3"><i class="bi bi-credit-card" style="opacity: 0.5;"></i>
                                                <%= findOrder.orderType %>
                                            </span>
                                            <% } else { %>
                                                <span class="me-3"><img
                                                        src="/assets/images/payment pic/cash-on-delivery.png"
                                                        style="height: 16px; width: 15px;  align-items: center; opacity: 0.5;"
                                                        alt="">
                                                    <%= findOrder.orderType %>
                                                </span>
                                                <% } %>
                                                    <% if (findOrder.status==='Returned' ||
                                                        findOrder.status==='Canceled' ) { %>
                                                        <span class="badge rounded-pill bg-danger">
                                                            <%= findOrder.status %>
                                                        </span>
                                                        <% } else if (findOrder.status==='Delivered' ) { %>
                                                            <span class="badge rounded-pill bg-success">
                                                                <%= findOrder.status %>
                                                            </span>
                                                        <% } else if (findOrder.status==='Payment Failed' ) { %>
                                                            <span class="badge rounded-pill bg-danger">
                                                                <%= findOrder.status %>
                                                            </span>
                                                        <% } else { %>
                                                            <span class="badge rounded-pill bg-warning">
                                                                <%= findOrder.status %>
                                                            </span>
                                                        <% } %>
                                    </div>
                                </div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <!-- Order items -->
                                        <% for(let i=0; i<pdtData.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-shrink-0">
                                                            <img src="/productAssets/<%= pdtData[i].images[0] %>" alt=""
                                                                width="35" class="img-fluid">
                                                        </div>
                                                        <div class="flex-lg-grow-1 ms-3">
                                                            <h6 class="small mb-0"><a href="#" class="text-reset">
                                                                    <%= pdtData[i].pname %>
                                                                </a></h6>
                                                            <span class="small">Color: <%= pdtData[i].color %></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td> Qty : <%= findOrder.items[i].quantity %>
                                                </td>
                                                <td class="text-end">₹<%= findOrder.items[i].subTotal %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                    <tfoot>
                                        <!-- Order totals -->
                                        <tr>
                                            <% let pdttotal=0; // Calculate the discount amount for(let
                                                for(let i=0;i<findOrder.items.length;i++){ pdttotal+=findOrder.items[i].subTotal
                                                } const discountAmount=(pdttotal * (findOrder.discount /
                                                100)).toFixed(2); %>
                                                <td colspan="2">Subtotal</td>
                                                <td class="text-end">₹<%= pdttotal %>
                                                </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Shipping</td>
                                            <td class="text-end">₹0.00</td> <!-- Assuming shipping is free -->
                                        </tr>
                                        <% if (findOrder.discount && findOrder.discount> 0) { %>

                                            <tr>
                                                <td colspan="2">Discount (Code: <%= findOrder.coupon %>:<%=
                                                            findOrder.discount%>% OFF )</td>
                                                <td class="text-danger text-end">-₹<%= discountAmount %>
                                                </td>
                                            </tr>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="2">Discount</td>
                                                    <td class="text-danger text-end">₹0.00</td>
                                                </tr>
                                                <% } %>


                                                    <!-- You can add more totals here if needed -->
                                                    <tr class="fw-bold">
                                                        <td colspan="2">TOTAL</td>
                                                        <td class="text-end">₹<%= findOrder.totalAmount %>
                                                        </td>
                                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- Payment -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="h6">Payment Method</h3>
                                        <p>
                                            <% if (findOrder.orderType==="Razorpay" ) { %>
                                                <span class="me-3"><i class="bi bi-credit-card"
                                                        style="opacity: 0.5;"></i>
                                                    <%= findOrder.orderType %>
                                                </span>
                                                <% } else { %>
                                                    <span class="me-3"><img
                                                            src="/assets/images/payment pic/cash-on-delivery.png"
                                                            style="height: 16px; width: 15px;  align-items: center; opacity: 0.5;"
                                                            alt="">
                                                        <%= findOrder.orderType %>
                                                    </span>
                                                    <% } %>
                                                        <br>
                                                        Total: ₹<%= findOrder.totalAmount %>
                                                            <% if (findOrder.status==='Returned' ||
                                                                findOrder.status==='Canceled' ) { %>
                                                                <span class="badge bg-success rounded-pill">Payment
                                                                    Returned to Wallet</span>
                                                                <% } else if(findOrder.status==='Payment Failed'){ %>
                                                                    <span
                                                                        class="badge bg-danger rounded-pill">Payment Failed</span>
                                                                <% } else { %>
                                                                    <span
                                                                        class="badge bg-success rounded-pill">PAID</span>
                                                                    <% } %>
                                        </p>
                                        <br>
                                    </div>

                                    <div class="col-lg-6">
                                        <h3 class="h6">Billing address</h3>
                                        <h6>To,</h6>
                                        <address style="margin-left: 18px;">
                                            <strong>
                                                <%= findOrder.shippingAddress[0].name.charAt(0).toUpperCase() +
                                                    findOrder.shippingAddress[0].name.slice(1) %>
                                            </strong><br>
                                            <%= findOrder.shippingAddress[0].homeAddress.charAt(0).toUpperCase() +
                                                findOrder.shippingAddress[0].homeAddress.slice(1) %><br>
                                                <%= findOrder.shippingAddress[0].city.charAt(0).toUpperCase() +
                                                    findOrder.shippingAddress[0].city.slice(1) %>, <%=
                                                        findOrder.shippingAddress[0].state.toUpperCase() %> - <%=
                                                            findOrder.shippingAddress[0].pincode %><br>
                                                            <abbr title="Phone">Phone Number : </abbr>
                                                            <%= findOrder.shippingAddress[0].phone %>
                                        </address>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Customer Notes -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">Shipping address</h3>
                                <h6>To,</h6>
                                <address style="margin-left: 18px;">
                                    <strong>
                                        <%= findOrder.shippingAddress[0].name.charAt(0).toUpperCase() +
                                            findOrder.shippingAddress[0].name.slice(1) %>
                                    </strong><br>
                                    <%= findOrder.shippingAddress[0].homeAddress.charAt(0).toUpperCase() +
                                        findOrder.shippingAddress[0].homeAddress.slice(1) %><br>
                                        <%= findOrder.shippingAddress[0].city.charAt(0).toUpperCase() +
                                            findOrder.shippingAddress[0].city.slice(1) %>, <%=
                                                findOrder.shippingAddress[0].state.toUpperCase() %> - <%=
                                                    findOrder.shippingAddress[0].pincode %><br>
                                                    <abbr title="Phone">Phone Number :</abbr>
                                                    <%= findOrder.shippingAddress[0].phone %>
                                </address>
                            </div>
                        </div>
                        
                        <div class="card mb-4">
                            <div class="card-body" style="align-items: center; justify-content: center;">
                                    <% if (findOrder.status=="Canceled" ) { %>

                                        <p style="color: rgb(226, 78, 20); font-size: 20px; font-weight: bold; text-align: center   ;"> Order Canceled 😢
                                        </p>

                                        <% }else if(findOrder.status=="Delivered" ){ %>

                                            <p
                                                style="color: rgb(20, 226, 30); font-size: 20px; font-weight: bold; margin-bottom: 30px; text-align: center">
                                                Order Delivered 🤩</p>

                                            <div class="single-add-to-cart">
                                                <button onclick="Return()" class="add-to-cart" style="margin-bottom: 30px; margin-left: 69px;">
                                                Request Return 
                                            </button>
                                                </div>

                                            <div id="reason" style="display: none;">
                                                <input type="radio" id="dont_want" name="reason"
                                                    value="Don't want the product anymore"
                                                    style="width: 15px; height: 15px; margin-right: 5px;">
                                                <label for="dont_want">Don't want the product anymore</label><br>

                                                <input type="radio" id="quality" name="reason"
                                                    value="Quality of the product not as expected"
                                                    style="width: 15px; height: 15px; margin-right: 5px;">
                                                <label for="quality">Quality of the product not as expected</label><br>

                                                <input type="radio" id="received_wrong" name="reason"
                                                    value="Received wrong item"
                                                    style="width: 15px; height: 15px; margin-right: 5px;">
                                                <label for="received_wrong">Received wrong item</label><br>

                                                <input type="radio" id="received_broken" name="reason"
                                                    value="Received a broken/damaged item"
                                                    style="width: 15px; height: 15px; margin-right: 5px;">
                                                <label for="received_broken">Received a broken/damaged item</label><br>

                                                <input type="radio" id="received_broken" name="reason"
                                                    value="Received a broken/damaged item"
                                                    style="width: 15px; height: 15px; margin-right: 5px;">
                                                <label for="received_broken">Other reason</label><br>

                                                <p class="text-danger" id="error" style="display: none;">Select one</p>

                                                <button onclick="submit('<%=findOrder._id%>')"
                                                    style="padding: 6px 8px; font-size: 14px; background-color: #c89979; color: white; border: none; border-radius: 4px; cursor: pointer; margin-bottom: 30px; margin-top: 20px;">Submit</button>
                                            </div>



                                            <% }else if(findOrder.status=="Return process" ){ %>


                                                <a onclick="cancelReturn('<%= findOrder._id %>')" class="btn btn-rounded " style="align-items: center; justify-content: center; margin-left:60px;"> <i
                                                        class="fa fa-share-square mr-10"></i> Cancel Return</a>

                                                <%}else if(findOrder.status=="Returned"){%>
                                                    <p
                                                    style="color: rgb(20, 226, 30); font-size: 20px; font-weight: bold; margin-bottom: 30px;">
                                                    The Order Returned </p>
                                                    <%}else if(findOrder.status=="Payment Failed"){%>
                                                        <a onclick="continuePayment('<%= findOrder._id %>')" class="btn btn-rounded" style="margin-left:60px;">
                                                            <i class="fa fa-share-square mr-10"></i> Continue Payment</a>
                                                    <% }else{ %>
                                                        <a onclick="cancel('<%= findOrder._id %>')" class="btn btn-rounded" style="margin-left:60px;">
                                                            <i class="fa fa-share-square mr-10"></i> Cancel Order</a>
    

                                                        <% } %>
                                                    
                                  
                            </div>
                        </div>
                    </div>
                 

                </div>
            </div>
        </div>




        <!-- main-content-wrap end -->

        <!-- footer Start -->
        <footer>
            <div class="footer-top section-pb section-pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">Contact Info</h6>

                                <div class="footer-addres">
                                    <div class="widget-content mb--20">
                                        <p>Address: 123 Main Street, Anytown, <br> CA 12345 - USA.</p>
                                        <p>Phone: <a href="tel:">(012) 800 000 789</a></p>
                                        <p>Fax: <a href="tel:">(012) 800 888 789</a></p>
                                        <p>Email: <a href="tel:">demo@hashthemes.com</a></p>
                                    </div>
                                </div>

                                <ul class="social-icons">
                                    <li>
                                        <a class="facebook social-icon" href="#" title="Facebook" target="_blank"><i
                                                class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter social-icon" href="#" title="Twitter" target="_blank"><i
                                                class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="instagram social-icon" href="#" title="Instagram" target="_blank"><i
                                                class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a class="linkedin social-icon" href="#" title="Linkedin" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss social-icon" href="#" title="Rss" target="_blank"><i
                                                class="fa fa-rss"></i></a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">Information</h6>
                                <ul class="footer-list">
                                    <li><a href="home">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact.html">Quick Contact</a></li>
                                    <li><a href="blog.html">Blog Pages</a></li>
                                    <li><a href="#">Concord History</a></li>
                                    <li><a href="#">Client Feed</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">Extras</h6>
                                <ul class="footer-list">

                                    <li><a href="#">Concord History</a></li>
                                    <li><a href="#">Client Feed</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact.html">Quick Contact</a></li>
                                    <li><a href="blog.html">Blog Pages</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-footer mt-40">
                                <h6 class="title-widget">Get the app</h6>
                                <p>GreenLife App is now available on Google Play & App Store. Get it now.</p>
                                <ul class="footer-list">
                                    <li><img src="assets/images/brand/img-googleplay.jpg" alt=""></li>
                                    <li><img src="assets/images/brand/img-appstore.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="copy-left-text">
                                <p>Copyright &copy; <a href="#">Ruiz</a> 2019. All Right Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="copy-right-image">
                                <img src="assets/images/icon/img-payment.png" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer End -->


    </div>

    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>

    <!-- jquery -->
    <script src="assets/js/vendor/jquery-3.6.1.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.4.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/slick.min.js"></script>

    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/countdown.min.js"></script>
    <script src="assets/js/plugins/image-zoom.min.js"></script>
    <script src="assets/js/plugins/fancybox.js"></script>
    <script src="assets/js/plugins/scrollup.min.js"></script>
    <script src="assets/js/plugins/jqueryui.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>
        function cancel(id) {
            // alert(id)
            $.ajax({
                url: "/cancelOrder",
                method: "post",
                data: {
                    id
                },
                success: (response) => {
                    if (response.status == true) {


                        Swal.fire({
                            title: "Are you sure?",
                            text: "You want to Cancel this Order?!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, Cancel it!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire({
                                    title: "Canceled!",
                                    text: "Your Order has been Canceled.",
                                    icon: "success"
                                }).then((result) => {
                                    location.href = "/orders"
                                })
                            }
                        })





                    }
                }
            })
        }

        function Return() {
            document.getElementById("reason").style.display = "block"
        }

        function submit(id) {
            var selectedReason = document.querySelector('input[name="reason"]:checked');

            if (selectedReason) {
                var reason = selectedReason.value;

                // alert(id)

                $.ajax({
                    url: "/return",
                    method: "post",
                    data: {
                        id,
                        reason
                    },
                    success: (response) => {
                        if (response.status == true) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "bottom",
                                showConfirmButton: false,
                                timer: 1500,
                                // timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Request send successfull"
                            }).then((result) => {

                                window.location.href = "/orders"
                            })
                        }
                    }
                })
            }
            else {
                document.getElementById("error").style.display = "block"

                setTimeout(() => {
                    document.getElementById("error").style.display = "none"
                }, 2000)
            }
        }

        function cancelReturn(id) {
            $.ajax({
                url: "/cancelReturn",
                method: "post",
                data: {
                    id,
                },
                success: (response) => {
                    if (response.status == true) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "bottom",
                            showConfirmButton: false,
                            timer: 1500,
                            // timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Return Successfully Cancelled"
                        }).then((result) => {

                            window.location.href = "/orders"
                        })
                    }
                }
            })
        }


        const inputElement = document.getElementById('input');

        let timeoutId;

        function debounce(func, delay) {
            return function () {
                clearTimeout(timeoutId);
                timeoutId = setTimeout(() => {
                    func();
                }, delay);
            };
        }

        function showSearchResult() {
            const searchResult = document.querySelector('.search-result');
            searchResult.style.display = 'block';
        }

        function hideSearchResult() {
            const searchResult = document.querySelector('.search-result');
            searchResult.style.display = 'none';
        }

        function showNoProductFound() {
            const noProductFound = document.querySelector('.no-product-found');
            noProductFound.style.display = 'block';
        }

        function hideNoProductFound() {
            const noProductFound = document.querySelector('.no-product-found');
            noProductFound.style.display = 'none';
        }

        function SearchProduct() {
            const searchDataValue = inputElement.value.trim();


            if (searchDataValue !== "") {
                showSearchResult();
                debounce(() => {
                    console.log(searchDataValue)
                    $.ajax({
                        url: "/search",
                        method: "post",
                        data: {
                            searchDataValue
                        },
                        success: (response) => {
                            const searchResultsContainer = document.getElementById('searchResultsContainer')
                            searchResultsContainer.innerHTML = ""

                            if (response.searchProducts.length > 0) {
                                response.searchProducts.forEach(element => {
                                    const productContainer = document.createElement('div');
                                    productContainer.classList.add('product-container');

                                    const productElement = document.createElement('div');
                                    productElement.innerHTML = `
                                <a href="/productDetails?id=${element._id}" class="product-link">
                                    <img src="/productAssets/${element.images[0]}" alt="product">
                                    <div class="product-info">
                                        <p>${element.pname}</p>
                                        <p>₹${element.offprice}</p>
                                    </div>
                                `;

                                    productContainer.appendChild(productElement);
                                    searchResultsContainer.appendChild(productContainer);
                                });
                                hideNoProductFound();
                            } else {
                                hideSearchResult();
                                showNoProductFound();
                            }
                        }
                    })
                }, 500)();
            } else {
                hideSearchResult();
                hideNoProductFound();
            }
        }


        function updateOrderStatusTracking(status) {
            // Update status text
            document.querySelector('.bg-secondary .text-center:nth-child(2)').innerHTML = '<span class="text-medium">Status:</span> ' + status;

            // Update expected delivery date
            // document.querySelector('.bg-secondary .text-center:nth-child(3)').innerHTML = '<span class="text-medium">Expected Date:</span> ' + expectedDeliveryDate;

            // Update steps based on status
            const steps = document.querySelector('.steps');
            steps.innerHTML = ''; // Clear existing steps

            const statusIcons = {
                'Processing': 'pe-7s-refresh-2',
                'Order Confirmed': 'pe-7s-cart',
                'Product Dispatched': 'pe-7s-plane',
                'Shipped': 'pe-7s-credit',
                'Delivered': 'pe-7s-check',
                'Canceled': 'pe-7s-close',
                'Returned': 'pe-7s-refresh',
                'Return process': 'pe-7s-refresh',
            };

            const statusSteps = {
                'Processing': 'Processing',
                'Order Confirmed': 'Confirmed Order',
                'Product Dispatched': 'Product Dispatched',
                'Shipped': 'Product Shipped',
                'Delivered': 'Product Delivered',
                'Canceled': 'Order Canceled',
                'Returned': 'Order Returned',
                'Return process': 'Return process'
            };

            // Get the index of current status in steps
            const currentStatusIndex = Object.keys(statusSteps).indexOf(status);

            // Add steps from Processing to Delivered
            Object.entries(statusSteps).forEach(([stepStatus, stepTitle], index) => {
                if (stepStatus !== 'Canceled' && stepStatus !== 'Returned' && stepStatus !== 'Return process') {
                    const step = document.createElement('div');
                    const iconClass = statusIcons[stepStatus] || 'pe-7s-angle-right'; // Default icon
                    const completed = index <= currentStatusIndex;
                    step.className = 'step' + (completed ? ' completed' : '');
                    step.innerHTML = `
                <div class="step-icon-wrap">
                    <div class="step-icon"><i class="${iconClass}"></i></div>
                </div>
                <h4 class="step-title">${stepTitle}</h4>
            `;
                    steps.appendChild(step);
                }
            });

            // Add Canceled or Returned step if necessary
            if (status === 'Canceled' || status === 'Returned' || status === 'Return process') {
                const step = document.createElement('div');
                const iconClass = statusIcons[status];
                step.className = 'step completed';
                step.innerHTML = `
            <div class="step-icon-wrap">
                <div class="step-icon"><i class="${iconClass}"></i></div>
            </div>
            <h4 class="step-title">${statusSteps[status]}</h4>
        `;
                steps.appendChild(step);
            }
        }

        // Example usage:
        updateOrderStatusTracking(document.getElementById('orderstatus').value);



        function continuePayment(id){
            // alert(id)
            $.ajax({
                url:"/continuePayment",
                method:"post",
                data : {
                    id
                },
                success:(response)=>{
                if(response.status===true){
                    console.log("working")
                    // alert("hello continue payemnt is working")
                    let orderId=response.orderId
                    // alert(or derId)
                    var options = {
                        "key": "rzp_test_lUdFfNwNjMAIHG", // Enter the Key ID generated from the Dashboard
                        "amount": response.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "ChronoChic",
                        "description": "Test Transaction",
                        "image": "assets/images/logo/cc.png",
                        "order_id": response.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function (response) {

                            
                            // alert(addressId)
                            // alert(order_id)
                            // alert("heeeei payment")
                            // alert(response.razorpay_payment_id);
                            // alert(response.razorpay_order_id);
                            // alert(response.razorpay_signature)
                            // alert(response.address)
                            // alert(response.orderNum)
                            // alert(orderId)

                            verifyPayment(response, orderId)
                        },
                        "prefill": {
                            "name": "Gaurav Kumar",
                            "email": "gaurav.kumar@example.com",
                            "contact": "9000090000"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };

                    var rzp1 = new Razorpay(options);
                    rzp1.open();



                }
            }
            })
        }


        function verifyPayment(response,order){
            // alert(response+'response')
            // alert(order)
        $.ajax({
            url:"/payment-success",
            method:"post",
            data:{
                response,
                order
            },
            success:(response)=>{
                if(response.status==true){
                    window.location.href=`/orderPlaced?id=${response.order.orderNumber}`
                }
            }
        })
    }

    </script>





</body>


<!-- Mirrored from template.hasthemes.com/ruiz/ruiz/error404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jan 2024 11:50:58 GMT -->

</html>