<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/ruiz/ruiz/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jan 2024 11:50:58 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ChronoChic</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/fancy-box.css">
    <link rel="stylesheet" href="assets/css/plugins/jqueryui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->
    <style>
        .addAddress-form-container {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
            padding: 30px;
            text-align: left;
            width: 100%;
            margin: 0 auto;
        }

        .addre {
            flex: 0 0 auto;
            width: 100%;
        }

        /* Ensure columns are equal width */
        .form-row [class^="col"] {
            flex: 1;
            margin-bottom: 1rem;
        }
    </style>

    <style>
        .search-result {
            display: none;
            position: absolute;
            height: auto;

        }

        .no-product-found {
            background-color: rgb(273, 273, 273);
            position: absolute;
            display: none;
            width: 414px;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* margin-top: 10px; */
            padding: 5px 0;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            margin-left: 62.5px;

            z-index: 1;
        }

        #searchResultsContainer {
            background-color: rgb(273, 273, 273);
            position: absolute;
            z-index: 1;
            width: 414px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            margin-left: 62.5px;

        }

        .product-container {
            width: 200px;
            margin: 10px;
            text-align: left;

        }

        .product-container img {
            margin-left: 30px;
            margin-right: 370px;
            max-width: 55px;
            height: auto;
            transform: rotate(0deg);
            transition: transform 0.5s ease;

        }

        .product-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -50px;
        }

        .product-info p {
            margin: -2px 37px;
            margin-left: 40px;
            font-size: 10px;
            /* margin-top: 5px; */
            color: black;
            font-weight: bold;
        }


        .rotate-90 {
            transform: rotate(90deg);
        }

        .rotate-180 {
            transform: rotate(180deg);
        }

        .rotate-270 {
            transform: rotate(270deg);
        }
    </style>

    <style>
        .coupon-card {
            border: none;
            position: relative;
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 20px;
            height: 250px;
            color: #333;

        }

        .coupon-card h2 {
            margin-bottom: 10px;
        }

        .coupon-card .discount {
            font-size: 20px;
            font-weight: bold;
            color: c89979;
        }

        .coupon-card .coupon-code {
            font-size: 16px;
            background-color: #c89979;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 5px;
        }

        .coupon-card .validity span {
            color: #666;
        }

        .coupon-card hr {
            height: 2px;
            background-color: #ccc;
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <div class="main-wrapper">

        <!--  Header Start -->
        <header class="header">

            <!-- Header Top Start -->
            <div class="header-top-area d-none d-lg-block text-color-white bg-gren border-bm-1">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="header-top-settings">
                                <ul class="nav align-items-center">
                                    <li class="language">English

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="top-info-wrap text-end">
                                <ul class="my-account-container">
                                    <li><a href="userProfile">My account</a></li>
                                    <li><a href="cart">Cart</a></li>
                                    <li><a href="wishlist">Wishlist</a></li>
                                    <li><a href="orders">Order</a></li>
                                    <li><a href="landingpage">Logout</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Header Top End -->

            <!-- haeader Mid Start -->
            <div class="haeader-mid-area bg-gren border-bm-1 d-none d-lg-block ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4 col-5">
                            <div class="logo-area">
                                <a href="home"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="search-box-wrapper">
                                <div class="search-box-inner-wrap">
                                    <div class="search-box-inner">

                                        <!-- <div class="search-select-box">
                                            <div class="nice-select">
                                                <optgroup label=" Watch">
                                                    <option value="CC">Cc</option>
                                                   
                                                </optgroup>
                                                
                                                </div>
                                        </div> -->
                                        <div class="search-field-wrap">
                                            <input type="text" id="input" class="search-field"
                                                placeholder="Search product..." onkeyup="SearchProduct()">


                                            <div class="search-result">
                                                <div id="searchResultsContainer"></div>

                                            </div>


                                            <h5 class="no-product-found">No products found</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="right-blok-box text-white d-flex">

                                <div class="user-wrap">
                                    <a href="wishlist
                                    "><span class="cart-total"></span> <i class="icon-heart"></i></a>
                                </div>

                                <div class="shopping-cart-wrap">
                                    <a href="cart"><i class="icon-basket-loaded"></i><span
                                            class="cart-total"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- haeader Mid End -->

            <!-- haeader bottom Start -->
            <div class="haeader-bottom-area bg-gren header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 d-none d-lg-block">
                            <div class="main-menu-area white_text">
                                <!--  Start Mainmenu Nav-->
                                <nav class="main-navigation text-center">
                                    <ul>
                                        <li class="active"><a href="home">Home </a>

                                        </li>

                                        <li><a href="shop">Shop </a>

                                        </li>
                                        <li><a href="rolex">Rolex </a>
                                          
                                        </li>
                                        <li><a href="">About Us</a></li>
                                        <li><a href="">Contact</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>

                        <div class="col-5 col-md-6 d-block d-lg-none">
                            <div class="logo"><a href="home"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-7 d-block d-lg-none">
                            <div class="right-blok-box text-white d-flex">

                                <div class="user-wrap">
                                    <a href="wishlist.html"><span class="cart-total">2</span> <i
                                            class="icon-heart"></i></a>
                                </div>

                                <div class="shopping-cart-wrap">
                                    <a href="#"><i class="icon-basket-loaded"></i><span class="cart-total">2</span></a>
                                    <ul class="mini-cart">
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="product-details.html"><img alt=""
                                                        src="assets/images/product/product-02.png"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="product-details.html">
                                                    <h4>Product Name 01</h4>
                                                </a>
                                                <div class="quanti-price-wrap">
                                                    <span class="quantity">1 ×</span>
                                                    <div class="price-box"><span class="new-price">$130.00</span></div>
                                                </div>
                                                <a class="remove_from_cart" href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="product-details.html"><img alt=""
                                                        src="assets/images/product/product-03.png"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="product-details.html">
                                                    <h4>Product Name 03</h4>
                                                </a>
                                                <div class="quanti-price-wrap">
                                                    <span class="quantity">1 ×</span>
                                                    <div class="price-box"><span class="new-price">$130.00</span></div>
                                                </div>
                                                <a class="remove_from_cart" href="#"><i
                                                        class="icon-trash icons"></i></a>
                                            </div>
                                        </li>
                                        <li class="subtotal-box">
                                            <div class="subtotal-title">
                                                <h3>Sub-Total :</h3><span>$ 260.99</span>
                                            </div>
                                        </li>
                                        <li class="mini-cart-btns">
                                            <div class="cart-btns">
                                                <a href="cart.html">View cart</a>
                                                <a href="checkout.html">Checkout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mobile-menu-btn d-block d-lg-none">
                                    <div class="off-canvas-btn">
                                        <a href="#"><img src="assets/images/icon/bg-menu.png" alt=""></a>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <!-- haeader bottom End -->

            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>

                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            <form>
                                <input type="text" placeholder="Search product...">
                                <button class="search-btn"><i class="icon-magnifier"></i></button>
                            </form>
                        </div>

                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="#">Home</a>
                                        <ul class="dropdown">
                                            <li><a href="home">Home Page 1</a></li>
                                            <li><a href="index-2.html">Home Page 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Shop</a>
                                        <ul class="megamenu dropdown">
                                            <li class="mega-title has-children"><a href="#">Shop Layouts</a>
                                                <ul class="dropdown">
                                                    <li><a href="shop.html">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-list-left.html">Shop List Left Sidebar</a></li>
                                                    <li><a href="shop-list-right.html">Shop List Right Sidebar</a></li>
                                                    <li><a href="shop-fullwidth.html">Shop Full Width</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">Product Details</a>
                                                <ul class="dropdown">
                                                    <li><a href="product-details.html">Single Product Details</a></li>
                                                    <li><a href="variable-product-details.html">Variable Product
                                                            Details</a></li>
                                                    <li><a href="affiliate-product-details.html">affiliatel Product
                                                            Details</a></li>
                                                    <li><a href="gallery-product-details.html">Gallery Product
                                                            Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title has-children"><a href="#">Shop Pages</a>
                                                <ul class="dropdown">
                                                    <li><a href="error404.html">Error 404</a></li>
                                                    <li><a href="compare.html">Compare Page</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout Page</a></li>
                                                    <li><a href="wishlist.html">Wish List Page</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="blog.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-grid.html">Blog Grid Page</a></li>
                                            <li><a href="blog-largeimage.html">Blog Large Image</a></li>
                                            <li><a href="blog-details.html">Blog Details Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children "><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="frequently-questions.html">FAQ</a></li>
                                            <li><a href="my-account.html">My Account</a></li>
                                            <li><a href="login-register.html">login &amp; register</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->


                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <h5>My Account</h5>
                            <ul class="nav align-items-center">
                                <li class="language">English <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                    </ul>
                                </li>
                                <li class="curreny-wrap">Currency <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list curreny-list">
                                        <li><a href="#">$ USD</a></li>
                                        <li><a href="#"> € EURO</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <h5>My Account</h5>
                                <ul class="offcanvas-account-container">
                                    <li><a href="my-account.html">My account</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->

        </header>
        <!--  Header Start -->

        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="home">Home</a></li>
                            <li class="breadcrumb-item active">My Account Page</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->





        <!-- main-content-wrap start -->
        <div class="main-content-wrap section-ptb my-account-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="account-dashboard">
                            <div class="dashboard-upper-info">

                                <!-- Flash message for errors -->
                                <% if (typeof messages !=='undefined' ) { %>
                                    <% messages.forEach(function(message) { %>
                                        <div class="alert alert-danger" role="alert" id="error-message">
                                            <%= message %>
                                        </div>
                                        <% }); %>
                                            <% } %>

                                                <div class="row align-items-center no-gutters">
                                                    <div class="col-lg-3 col-md-12">
                                                        <div class="d-single-info">
                                                            <p class="user-name">Hello <span>
                                                                    <%= userData ? userData.email : '' %>
                                                                </span></p>
                                                            <p>(not yourmail@info? <a href="landingpage">Log Out</a>)
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-12">
                                                        <div class="d-single-info" style="font-weight: 500;">
                                                            <p>Invite your friends and get rewards</p>
                                                            <% if (userData.referralCode) { %>
                                                                <p>Referral Code: <span style="font-weight: 600;"><%= userData.referralCode %></span></p>
                                                            <% } else { %>
                                                                <p>No Referral Code Found</p>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12">
                                                        <div class="d-single-info text-lg-center">
                                                            <!-- <p>E-mail them at </p>
                                                            <p>support@yoursite.com</p> -->
                                                            <a href="/wallet" class="view-cart"><i
                                                                    class="bi bi-wallet"></i> My Wallet</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-12">
                                                        <div class="d-single-info text-lg-center">
                                                            <a href="cart" class="view-cart"><i
                                                                    class="fa fa-cart-plus"></i> View cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-2">
                                    <!-- Nav tabs -->
                                    <ul role="tablist" class="nav flex-column dashboard-list">
                                        <% if (typeof messages !=='undefined' ) { %>
                                            <% messages.forEach(function(message) { %>
                                                <div class="alert alert-danger" role="alert">
                                                    <%= message %>
                                                </div>
                                                <% }); %>
                                                    <% } %>
                                                        <li><a href="#account-details" data-bs-toggle="tab"
                                                                class="nav-link active">Account
                                                                details</a></li>
                                                        <!-- <li><a href="#dashboard" data-bs-toggle="tab" class="nav-link active">Dashboard</a></li> -->
                                                        <!-- <li> <a href="#orders" data-bs-toggle="tab"
                                                                class="nav-link">Orders</a></li> -->
                                                        <!-- <li><a href="#downloads" data-bs-toggle="tab" class="nav-link">Downloads</a></li> -->
                                                        <li><a href="#address" data-bs-toggle="tab" class="nav-link">Add
                                                                Address</a>
                                                        </li>
                                                        <li><a href="#manageaddress" data-bs-toggle="tab"
                                                                class="nav-link">Manage
                                                                Address</a></li>
                                                        <li><a href="#coupon" data-bs-toggle="tab" class="nav-link">My
                                                                Coupons</a></li>

                                                        <li><a href="landingpage" class="nav-link">logout</a>
                                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12 col-lg-10">
                                    <!-- Tab panes -->

                                    <% if (typeof messages !=='undefined' && messages.length> 0) { %>
                                        <div class="flash-messages">
                                            <% messages.forEach(message=> { %>
                                                <div class="flash-message <%= message.type %>">
                                                    <%= message.text %>
                                                </div>
                                                <% }) %>
                                        </div>
                                        <% } %>

                                            <div class="tab-content dashboard-content">


                                                <div class="tab-pane fade active" id="account-details">
                                                    <h3>Account details </h3>
                                                    <div class="login">
                                                        <div class="login-form-container">
                                                            <div class="account-login-form">
                                                                <form action="#">
                                                                    <p>Already have an account? <a href="#">Log in
                                                                            instead!</a>
                                                                    </p>
                                                                    <!-- <label>Social title</label>
                                                            <div class="input-radio">
                                                                <span class="custom-radio"><input type="radio" value="1" name="id_gender"> Mr.</span>
                                                                <span class="custom-radio"><input type="radio" value="1" name="id_gender"> Mrs.</span>
                                                            </div> -->
                                                                    <div class="account-input-box">
                                                                        <label>Name</label>

                                                                        <input type="text" name="first-name"
                                                                            value="<%= userData ? userData.name : '' %>">

                                                                        <!-- <label>Last Name</label>
                                                                <input type="text" name="last-name"> -->
                                                                        <label>Email</label>
                                                                        <input type="text" name="email-name"
                                                                            value="<%= userData ? userData.email : '' %>"
                                                                            readonly>
                                                                        <label>Mobile</label>
                                                                        <input type="text" name="mobileno"
                                                                            value="<%= userData ? userData.mobile : '' %>">
                                                                        <!-- <label>Birthdate</label>
                                                                <input type="text" placeholder="MM/DD/YYYY" value="" name="birthday"> -->
                                                                    </div>
                                                                    <!-- <div class="example">
                                                                (E.g.: 05/31/1970)
                                                            </div> -->
                                                                    <!-- <div class="custom-checkbox">
                                                                <input type="checkbox" value="1" name="optin">
                                                                <label>Receive offers from our partners</label>
                                                            </div>
                                                            <div class="custom-checkbox">
                                                                <input type="checkbox" value="1" name="newsletter">
                                                                <label>Sign up for our newsletter<br><em>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</em></label>
                                                            </div> -->
                                                                    <!-- <div class="button-box">
                                                                <button class="btn default-btn"
                                                                    type="submit">Save</button>
                                                            </div> -->
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- orderssssssss section -->

                                                <!-- <div class="tab-pane fade" id="downloads">
                                            <h3>Downloads</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Downloads</th>
                                                            <th>Expires</th>
                                                            <th>Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Haven - Free Real Estate PSD Template</td>
                                                            <td>May 10, 2018</td>
                                                            <td>never</td>
                                                            <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nevara - ecommerce html template</td>
                                                            <td>Sep 11, 2018</td>
                                                            <td>never</td>
                                                            <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> -->
                                                <div class="tab-pane fade" id="address">
                                                    <div class="container">
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-12 addre">
                                                                <div class="addAddress-form-container">
                                                                    <div class="login-register-form">
                                                                        <form id="addressForm" action="" method="post">
                                                                            <!-- First Row (Name and Phone) -->
                                                                            <div class="form-row d-flex">
                                                                                <div class="form-group col-md-6 mb-3">
                                                                                    <label for="name"
                                                                                        class="form-label">Full
                                                                                        Name</label>
                                                                                    <input type="text" id="name"
                                                                                        name="name" class="form-control"
                                                                                        placeholder="Full Name" required
                                                                                        oninput="validateName()">
                                                                                    <div id="nameError" class="error">
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="form-group col-md-6 mb-3 ms-3">
                                                                                    <label for="pincode"
                                                                                        class="form-label">Pincode</label>
                                                                                    <input type="text" id="pincode"
                                                                                        name="pincode"
                                                                                        class="form-control"
                                                                                        placeholder="Pincode" required
                                                                                        oninput="validatePincode()">
                                                                                    <div id="pincodeError"
                                                                                        class="error"></div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Second Row (Alternate Phone and Pincode) -->
                                                                            <div class="form-row d-flex">
                                                                                <div class="form-group col-md-6 mb-3">
                                                                                    <label for="phone"
                                                                                        class="form-label">Phone</label>
                                                                                    <input type="text" id="phone"
                                                                                        name="phone"
                                                                                        class="form-control"
                                                                                        placeholder="Phone" required
                                                                                        oninput="validatePhone()">
                                                                                    <div id="phoneError" class="error">
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="form-group col-md-6 mb-3 ms-3">
                                                                                    <label for="altPhone"
                                                                                        class="form-label">Alternate
                                                                                        Phone</label>
                                                                                    <input type="text" id="altPhone"
                                                                                        name="altPhone"
                                                                                        class="form-control"
                                                                                        placeholder="Alternate Phone"
                                                                                        required
                                                                                        oninput="validateAltPhone()">
                                                                                    <div id="altPhoneError"
                                                                                        class="error"></div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Third Row (Landmark and City) -->
                                                                            <div class="form-row d-flex">
                                                                                <div class="form-group col-md-6 mb-3">
                                                                                    <label for="landMark"
                                                                                        class="form-label">Landmark</label>
                                                                                    <input type="text" id="landMark"
                                                                                        name="landMark"
                                                                                        class="form-control"
                                                                                        placeholder="Landmark" required
                                                                                        oninput="validateLandMark()">
                                                                                    <div id="landMarkError"
                                                                                        class="error"></div>
                                                                                </div>
                                                                                <div
                                                                                    class="form-group col-md-6 mb-3 ms-3">
                                                                                    <label for="city"
                                                                                        class="form-label">City</label>
                                                                                    <input type="text" id="city"
                                                                                        name="city" class="form-control"
                                                                                        placeholder="City" required
                                                                                        oninput="validateCity()">
                                                                                    <div id="cityError" class="error">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Fourth Row (State and Address Type) -->
                                                                            <div class="form-row d-flex">
                                                                                <div class="form-group col-md-6 mb-3">
                                                                                    <label for="state"
                                                                                        class="form-label">State</label>
                                                                                    <input type="text" id="state"
                                                                                        name="state"
                                                                                        class="form-control"
                                                                                        placeholder="State" required
                                                                                        oninput="validateState()">
                                                                                    <div id="stateError" class="error">
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="form-group col-md-6 mb-3 ms-3">
                                                                                    <label for="addressType"
                                                                                        class="form-label">Address
                                                                                        Type</label>
                                                                                    <select id="addressType"
                                                                                        name="addressType"
                                                                                        class="form-select" required
                                                                                        onchange="validateAddressType()">
                                                                                        <option value="">Select Address
                                                                                            Type</option>
                                                                                        <option value="Home">Home
                                                                                        </option>
                                                                                        <option value="Work">Work
                                                                                        </option>
                                                                                        <option value="Other">Other
                                                                                        </option>
                                                                                    </select>
                                                                                    <div id="addressTypeError"
                                                                                        class="error"></div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Fifth Row (Address) -->
                                                                            <div class="form-row">
                                                                                <div class="col-md-12 mb-3">
                                                                                    <label for="homeAddress"
                                                                                        class="form-label">Address</label>
                                                                                    <input type="text" id="homeAddress"
                                                                                        name="homeAddress"
                                                                                        class="form-control"
                                                                                        placeholder="Address (Area and Street)"
                                                                                        required
                                                                                        oninput="validateHomeAddress()">
                                                                                    <div id="homeAddressError"
                                                                                        class="error"></div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Button Box -->
                                                                            <div class="button-box mt-3">
                                                                                <!-- <button id="submitButton"
                                                                                    class="register-btn btn"
                                                                                    type="submit" disabled><span>Add
                                                                                        Address</span></button> -->
                                                                                <input id="submitButton"
                                                                                    class="register-btn btn"
                                                                                    type="submit" value="Add Address"
                                                                                    disabled>

                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Create a new tab pane for Manage Addresses -->
                                                <div class="tab-pane fade" id="manageaddress">
                                                    <h3>Manage Addresses</h3>
                                                    <% if (address && address.address && address.address.length> 0) { %>
                                                        <% address.address.forEach((addr)=> { %>
                                                            <div class="_26SF1Q">
                                                                <div class="umgxnI">
                                                                    <!-- Address information -->
                                                                    <div class="_2FCIZU">
                                                                        <span class="_1GczDM">Address Type: <%=
                                                                                addr.addressType %></span>
                                                                    </div>
                                                                    <p class="_2adSi5">
                                                                        <span class="_3CfVDh font-weight-bold">
                                                                            <%= addr.name %>
                                                                        </span>
                                                                        <span class="_1Z7fmh _3CfVDh font-weight-bold">
                                                                            <%= addr.phone %>
                                                                        </span>
                                                                    </p>
                                                                    <span class="_2adSi5 WlNme0">
                                                                        <%= addr.homeAddress %>, <%= addr.landMark %>,
                                                                                <%= addr.city %>, <%= addr.state %> -
                                                                                        <span class="_2dQV-8">
                                                                                            <%= addr.pincode %>
                                                                                        </span>
                                                                    </span>
                                                                    <!-- Delete button -->
                                                                    <div class="mt-3">
                                                                        <a href="/edit-address?addressId=<%= addr._id %>"
                                                                            class="btn register-btn me-2">Edit</a>

                                                                        <button type="button"
                                                                            class="register-btn btn delete-address-btn"
                                                                            data-address-id="<%= addr._id %>">Delete</button>
                                                                        <br><br>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                                <% } else { %>
                                                                    <p>No addresses found.</p>
                                                                    <% } %>
                                                </div>





                                                <div class="tab-pane fade" id="coupon">
                                                    <h3>My Coupons</h3>
                                                    <div class="row">
                                                        <% if (CouponDataArray.length> 0) { %>
                                                            <% CouponDataArray.forEach(function(coupon) { %>
                                                                <div class="col-lg-4 mb-4">
                                                                    <div class="coupon-card"
                                                                        style="max-height: 250px; width: 300px;">
                                                                        <h2>
                                                                            <%= coupon.name %>!
                                                                        </h2>
                                                                        <p>Get <span class="discount">
                                                                                <%= coupon.discount %>% OFF
                                                                            </span> on your next purchase</p>
                                                                        <p>Use coupon code:
                                                                            <span class="coupon-code" id="couponCode">
                                                                                <%= coupon.couponCode %>
                                                                                    <a onclick="copyToClipboard()"
                                                                                        class="copy-button"><i
                                                                                            class="bi bi-copy"></i></a>
                                                                            </span>
                                                                        </p>
                                                                        <p class="validity">Valid until: <span>
                                                                                <%= coupon.endDate %>
                                                                            </span></p>
                                                                    </div>

                                                                </div>
                                                                <% }); %>
                                                                    <% } else if (redeemCoupon.length> 0) { %>
                                                                        <% redeemCoupon.forEach(function(redeemCoupon) {
                                                                            %>
                                                                            <div class="col-lg-4 mb-4">
                                                                                <div class="redeemed-coupon-card">
                                                                                    <h2>Redeemed Coupon</h2>
                                                                                    <p>Offer: <span class="discount">
                                                                                            <%= redeemCoupon.discount %>
                                                                                                % OFF
                                                                                        </span></p>
                                                                                    <p>Coupon Code: <span
                                                                                            class="coupon-code">
                                                                                            <%= redeemCoupon.couponCode
                                                                                                %>
                                                                                        </span></p>
                                                                                    <p class="validity">Valid until:
                                                                                        <span>
                                                                                            <%= redeemCoupon.endDate %>
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <% }); %>
                                                                                <% } else { %>
                                                                                    <div class="col">
                                                                                        <p>No coupons found.</p>
                                                                                    </div>
                                                                                    <% } %>
                                                    </div>
                                                </div>








                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-content-wrap end -->

            <!-- footer Start -->
            <footer>
                <div class="footer-top section-pb section-pt-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">

                                <div class="widget-footer mt-40">
                                    <h6 class="title-widget">Contact Info</h6>

                                    <div class="footer-addres">
                                        <div class="widget-content mb--20">
                                            <p>Address: 123 Main Street, Anytown, <br> CA 12345 - USA.</p>
                                            <p>Phone: <a href="tel:">(012) 800 000 789</a></p>
                                            <p>Fax: <a href="tel:">(012) 800 888 789</a></p>
                                            <p>Email: <a href="tel:">demo@hashthemes.com</a></p>
                                        </div>
                                    </div>

                                    <ul class="social-icons">
                                        <li>
                                            <a class="facebook social-icon" href="#" title="Facebook" target="_blank"><i
                                                    class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter social-icon" href="#" title="Twitter" target="_blank"><i
                                                    class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="instagram social-icon" href="#" title="Instagram"
                                                target="_blank"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a class="linkedin social-icon" href="#" title="Linkedin" target="_blank"><i
                                                    class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a class="rss social-icon" href="#" title="Rss" target="_blank"><i
                                                    class="fa fa-rss"></i></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="widget-footer mt-40">
                                    <h6 class="title-widget">Information</h6>
                                    <ul class="footer-list">
                                        <li><a href="home">Home</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="contact.html">Quick Contact</a></li>
                                        <li><a href="blog.html">Blog Pages</a></li>
                                        <li><a href="#">Concord History</a></li>
                                        <li><a href="#">Client Feed</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="widget-footer mt-40">
                                    <h6 class="title-widget">Extras</h6>
                                    <ul class="footer-list">

                                        <li><a href="#">Concord History</a></li>
                                        <li><a href="#">Client Feed</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="contact.html">Quick Contact</a></li>
                                        <li><a href="blog.html">Blog Pages</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="widget-footer mt-40">
                                    <h6 class="title-widget">Get the app</h6>
                                    <p>GreenLife App is now available on Google Play & App Store. Get it now.</p>
                                    <ul class="footer-list">
                                        <li><img src="assets/images/brand/img-googleplay.jpg" alt=""></li>
                                        <li><img src="assets/images/brand/img-appstore.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="copy-left-text">
                                    <p>Copyright &copy; <a href="#">Ruiz</a> 2019. All Right Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="copy-right-image">
                                    <img src="assets/images/icon/img-payment.png" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer End -->

        </div>

        <!-- JS
============================================ -->

        <!-- Modernizer JS -->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>

        <!-- jquery -->
        <script src="assets/js/vendor/jquery-3.6.1.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.4.0.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <!-- Plugins JS -->
        <script src="assets/js/plugins/slick.min.js"></script>

        <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
        <script src="assets/js/plugins/countdown.min.js"></script>
        <script src="assets/js/plugins/image-zoom.min.js"></script>
        <script src="assets/js/plugins/fancybox.js"></script>
        <script src="assets/js/plugins/scrollup.min.js"></script>
        <script src="assets/js/plugins/jqueryui.min.js"></script>
        <script src="assets/js/plugins/ajax-contact.js"></script>

        <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
        <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>



        <script>
            function getElementValue(id) {
                const element = document.getElementById(id);
                return element.value;
            }

            function validateInput(inputId, pattern, errorId, errorMessage) {
                const inputValue = getElementValue(inputId);
                const errorElement = document.getElementById(errorId);
                const pincodeRegex = /^[1-9][0-9]{5}(?:\s[0-9]{3})?$/;

                if (inputValue.trim() === '') {
                    errorElement.innerText = errorMessage + ' is required.';
                    return false;
                } else if (inputId === 'pincode' && !pincodeRegex.test(inputValue)) {
                    errorElement.innerText = 'Please enter a valid pincode.';
                    return false;
                } else if (pattern && !pattern.test(inputValue)) {
                    errorElement.innerText = 'Please enter a valid ' + errorMessage.toLowerCase() + '.';
                    return false;
                } else {
                    errorElement.innerText = '';
                    return true;
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                const nameInput = document.getElementById('name');
                const phoneInput = document.getElementById('phone');
                const altPhoneInput = document.getElementById('altPhone');
                const pincodeInput = document.getElementById('pincode');
                const landMarkInput = document.getElementById('landMark');
                const cityInput = document.getElementById('city');
                const stateInput = document.getElementById('state');
                const addressTypeInput = document.getElementById('addressType');
                const homeAddressInput = document.getElementById('homeAddress');
                const submitButton = document.getElementById('submitButton');


                // Use input event for real-time validation
                nameInput.addEventListener('input', () => validateInput('name', /^[A-Za-z\s]+$/, 'nameError', 'Full Name'));
                phoneInput.addEventListener('input', () => validateInput('phone', /^(91)?0?[6-9]\d{9}$/, 'phoneError', 'Phone'));
                altPhoneInput.addEventListener('input', () => {
                    const isValid = validateInput('altPhone', /^(91)?0?[6-9]\d{9}$/, 'altPhoneError', 'Alternate Phone');
                    if (isValid) {
                        const phoneValue = phoneInput.value;
                        const altPhoneValue = altPhoneInput.value;
                        if (phoneValue === altPhoneValue) {
                            document.getElementById('altPhoneError').innerText = 'Phone number must be different from Alternate Phone';
                            return false;
                        } else {
                            document.getElementById('altPhoneError').innerText = '';
                            return true;
                        }
                    }
                });
                // pincodeInput.addEventListener('input', () => validateInput('pincode', /^\d{6}$/, 'pincodeError', 'Pincode (6 digits)'));
                pincodeInput.addEventListener('input', () => validateInput('pincode', /^[1-9][0-9]{5}(?:\s[0-9]{3})?$/, 'pincodeError', 'Pincode(6 digits)'));
                landMarkInput.addEventListener('input', () => validateInput('landMark', null, 'landMarkError', 'Landmark'));
                cityInput.addEventListener('input', () => validateInput('city', /^[a-zA-Z\s]+$/, 'cityError', 'City'));
                stateInput.addEventListener('input', () => validateInput('state', /^[a-zA-Z\s]+$/, 'stateError', 'State'));
                addressTypeInput.addEventListener('change', () => validateInput('addressType', null, 'addressTypeError', 'Address Type'));
                homeAddressInput.addEventListener('input', () => validateInput('homeAddress', null, 'homeAddressError', 'Address'));

                // Disable submit button by default
                submitButton.disabled = true;

                // Enable submit button only if all fields are valid
                function enableSubmitButton() {
                    submitButton.disabled = !(
                        validateInput('name', /^[A-Za-z\s]+$/, 'nameError', 'Full Name') &&
                        validateInput('phone', /^(91)?0?[6-9]\d{9}$/, 'phoneError', 'Phone') &&
                        validateInput('altPhone', /^(91)?0?[6-9]\d{9}$/, 'altPhoneError', 'Alternate Phone') &&
                        validateInput('pincode', /^[1-9][0-9]{5}(?:\s[0-9]{3})?$/, 'pincodeError', 'Pincode (6 digits)') &&
                        validateInput('landMark', null, 'landMarkError', 'Landmark') &&
                        validateInput('city', /^[a-zA-Z\s]+$/, 'cityError', 'City') &&
                        validateInput('state', /^[a-zA-Z\s]+$/, 'stateError', 'State') &&
                        validateInput('addressType', null, 'addressTypeError', 'Address Type') &&
                        validateInput('homeAddress', null, 'homeAddressError', 'Address')
                    );
                }

                // Validate form on submit
                document.getElementById('addressForm').addEventListener('submit', function (event) {
                    if (!validateForm()) {
                        // Prevent form submission if validation fails
                        event.preventDefault();
                        // Show an additional message to the user to clear validation errors
                        alert('Please fix validation errors before submitting the form.');
                    }

                });

                // Reset error messages when input becomes valid
                document.querySelectorAll('input, select').forEach(input => {
                    input.addEventListener('input', function () {
                        const errorId = this.id + 'Error';
                        const errorElement = document.getElementById(errorId);
                        if (errorElement.innerText) {
                            errorElement.innerText = '';
                        }
                        enableSubmitButton();
                    });
                });
            });

            function validateForm() {
                const isValidName = validateInput('name', /^[A-Za-z\s]+$/, 'nameError', 'Full Name');
                const isValidPhone = validateInput('phone', /^(91)?0?[6-9]\d{9}$/, 'phoneError', 'Phone');
                const isValidAltPhone = validateInput('altPhone', /^(91)?0?[6-9]\d{9}$/, 'altPhoneError', 'Alternate Phone');
                const isValidPincode = validateInput('pincode', /^[1-9][0-9]{5}(?:\s[0-9]{3})?$/, 'pincodeError', 'Pincode (6 digits)');
                const isValidLandMark = validateInput('landMark', null, 'landMarkError', 'Landmark');
                const isValidCity = validateInput('city', /^[a-zA-Z\s]+$/, 'cityError', 'City');
                const isValidState = validateInput('state', /^[a-zA-Z\s]+$/, 'stateError', 'State');
                const isValidAddressType = validateInput('addressType', null, 'addressTypeError', 'Address Type');
                const isValidHomeAddress = validateInput('homeAddress', null, 'homeAddressError', 'Address');

                if (!isValidName || !isValidPhone || !isValidAltPhone || !isValidPincode || !isValidLandMark || !isValidCity || !isValidState || !isValidAddressType || !isValidHomeAddress) {
                    document.getElementById('mainError').innerText = 'Cannot submit form. Please fix errors.';
                    return false;
                }
                return true;
            }
        </script>




        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            // Add event listener for delete buttons
            document.querySelectorAll('.delete-address-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const addressId = this.getAttribute('data-address-id');
                    // Display SweetAlert confirmation dialog
                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel!",
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If user confirms deletion, submit the form for the specific address
                            const form = document.createElement('form');
                            form.method = 'POST';
                            form.action = `/delete-address/${addressId}`;
                            document.body.appendChild(form);
                            form.submit();
                            Swal.fire({
                                title: "Deleted!",
                                text: "Your file has been deleted.",
                                icon: "success"
                            });

                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            Swal.fire({
                                title: "Cancelled",
                                text: "Your address is safe :)",
                                icon: "error"
                            });
                        }
                    });
                });
            });

            const inputElement = document.getElementById('input');

            let timeoutId;

            function debounce(func, delay) {
                return function () {
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(() => {
                        func();
                    }, delay);
                };
            }

            function showSearchResult() {
                const searchResult = document.querySelector('.search-result');
                searchResult.style.display = 'block';
            }

            function hideSearchResult() {
                const searchResult = document.querySelector('.search-result');
                searchResult.style.display = 'none';
            }

            function showNoProductFound() {
                const noProductFound = document.querySelector('.no-product-found');
                noProductFound.style.display = 'block';
            }

            function hideNoProductFound() {
                const noProductFound = document.querySelector('.no-product-found');
                noProductFound.style.display = 'none';
            }

            function SearchProduct() {
                const searchDataValue = inputElement.value.trim();


                if (searchDataValue !== "") {
                    showSearchResult();
                    debounce(() => {
                        console.log(searchDataValue)
                        $.ajax({
                            url: "/search",
                            method: "post",
                            data: {
                                searchDataValue
                            },
                            success: (response) => {
                                const searchResultsContainer = document.getElementById('searchResultsContainer')
                                searchResultsContainer.innerHTML = ""

                                if (response.searchProducts.length > 0) {
                                    response.searchProducts.forEach(element => {
                                        const productContainer = document.createElement('div');
                                        productContainer.classList.add('product-container');

                                        const productElement = document.createElement('div');
                                        productElement.innerHTML = `
                                <a href="/productDetails?id=${element._id}" class="product-link">
                                    <img src="/productAssets/${element.images[0]}" alt="product">
                                    <div class="product-info">
                                        <p>${element.pname}</p>
                                        <p>₹${element.offprice}</p>
                                    </div>
                                `;

                                        productContainer.appendChild(productElement);
                                        searchResultsContainer.appendChild(productContainer);
                                    });
                                    hideNoProductFound();
                                } else {
                                    hideSearchResult();
                                    showNoProductFound();
                                }
                            }
                        })
                    }, 500)();
                } else {
                    hideSearchResult();
                    hideNoProductFound();
                }
            }

            function copyToClipboard() {
                var couponCode = document.getElementById('couponCode').textContent.trim(); // Trim leading and trailing spaces

                var tempInput = document.createElement('input');
                tempInput.value = couponCode;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand('copy');
                document.body.removeChild(tempInput);

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 1500,
                });

                Toast.fire({
                    icon: 'success',
                    title: 'Code copied to clipboard'
                });
            }



            document.addEventListener("DOMContentLoaded", function () {

                var hash = window.location.hash;


                if (hash) {
                    var tab = document.querySelector('.nav-link[href="' + hash + '"]');
                    if (tab) {
                        tab.click();
                    }
                }
            });


        </script>







</body>


<!-- Mirrored from template.hasthemes.com/ruiz/ruiz/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jan 2024 11:50:58 GMT -->

</html>